
:root {
    --azul: #168be8;
    --azul-claro: #e1f3ff;
    --morado-claro: #f3edf7;
    --verde: #2dcc67;
    --gris: #d1ccd3;
    --texto: #222;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--texto);
    background-color: white;
}






.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    border-bottom: 1px solid #ddd;
}

.logo {
    color: var(--azul);
    font-size: 14px;
    font-weight: bold;
}




.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    text-decoration: none;
    color: var(--azul);
    font-size: 13px;
}

.menu a:hover {
    text-decoration: underline;
}




.login {
    background-color: var(--azul);
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    font-size: 12px;
}

.login:hover {
    background-color: #0876cc;
}




.titulo-reservas {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 55px;
    border-bottom: 1px solid #ddd;
}

.titulo-reservas h1 {
    font-size: 15px;
    font-weight: normal;
}

.volver {
    border: none;
    background-color: white;
    font-size: 22px;
    cursor: pointer;
}